[submodule "deps/mach"]
	path = deps/mach
	url = https://github.com/hexops/mach.git
[submodule "deps/zigimg"]
	path = deps/zigimg
	url = https://github.com/slimsag/zigimg.git
[submodule "deps/zig-gamedev"]
	path = deps/zig-gamedev
	url = https://github.com/michal-z/zig-gamedev.git
[submodule "deps/zmath"]
	path = deps/zmath
	url = https://github.com/machlibs/zmath.git
